/* Cabeçalho */

a {
    color: var(--branco);
    text-decoration: none;
    /* Tira o sublinhado do link */
}

.cabecalho {
    background-color: var(--azul-escuro);
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 120px;

    height: 10vh;
    /* 10% da visualizaçaõ vertical do dispositivo */

}

.navegacao {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navegacao a {
    text-transform: uppercase;
    /* Transformou tudo em Maiusculo*/
    font-size: 1em;
    /* equivale a 16px; */
    /* nao usa o px pq o em eh responsivo*/
    /* EM = 16px */
    font-weight: 500;

}

/*? CONTEUDO PRINCIPAL */

/*Primeiro Banner*/

.banner-principal {
    color: var(--branco);

    height: 70vh;

    background-image: url(../imgs/banner-principal-home.png);
    background-size: cover;

    /*overflow: hidden; EVITA QUE OS ELEMENTOS TRANSBORDEM (OBS: NESSE CASO N PRECISOU)*/

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
}

.texto-banner {
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: flex-start;

    justify-content: center;

    gap: 50px;
}

.texto-banner p {
    font-size: 1.5em;
    width: 60%;
}

.botao {
    padding: 20px 50px;
    border-radius: 10px;

    background-color: var(--cor-destaque);
    color: var(--azul-escuro);

    font-size: 1.2em;
    font-weight: 700;

    text-transform: uppercase;
}

.botao:hover {
    background-color: #2ab2ab;
    color: var(--branco);
    cursor: pointer;
}

.banner-principal img {
    align-self: flex-end;
    width: 35%;
}

/* Titulo das seções */

.titulo-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-secao h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.titulo-secao span {
    display: flex;
    width: 250px;
    height: 4px;
    background-color: var(--cor-destaque);
}

/* seção benefecios */

.beneficios {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 90px 120px;
    gap: 100px;
}

.beneficios-lista {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    gap: 10%;

    justify-content: center;
}

.beneficio {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 80px 20px 50px;

    border: 1px solid var(--azul-escuro);
    border-radius: 30px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
    /* x, y, blur, cor com transparencia)*/


    text-align: center;

    /* cria referencia de posicionamento para o icone quando o icone for posicionado, usa esse card como referencia */
    /* sem isso, o circulo poderia usar outro elemento da pagina como referencia e sair passeando pelo layout. */
    position: relative;
}

.beneficio-icone img {
    width: 50%;
}

.beneficio-icone {
    border: 4px solid var(--cor-destaque);
    background-color: var(--branco);
    border-radius: 50%;

    width: 30%;
    height: 30%;

    /* Retira o icone do fluxo normal, com o absolute ele pode ficar por cima do card */
    /* eh tipo vc deixar ele acima do grupo q eh o card no figma */
    position: absolute;

    /* Move o circulo pra cima, o valor negativo faz com ele consiga sair parcialmente do card.*/
    top: -15%;

    /* coloca o começo do elemento em 50% da largura do card*/
    left: 50%;

    /*ajustamos o posicionamento do elemento, mas a borda esquerda do circulo fica no centro, não o circulo inteiro */
    /* por isso usamos o transform: translateX(-50%); que move o próprio circulo para a esquerda em 50% da largura dele, fazendo com que o circulo fique perfeitamente centralizado.*/
    transform: translateX(-50%);

    display: grid;

    /* place-items: center; é a mesma coisa que colocar:
        align-itens: center e justify-items: center */
    place-items: center;
}

.beneficio h3 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 90%;
}

.beneficio p {
    font-size: 1em;
    width: 80%;
}

.banner-meio {
    height: 60vh;

    background-image: url(../imgs/Banner\ centro.svg);
    background-size: cover;
    /* background-repeat: no-repeat; */

    display: flex;
    justify-content: flex-end;

    padding: 0 120px;
    color: var(--branco);
}

/* MINHA RESOLUÇÃO 

/* LIVROS RECOMENDADOS 

.livros-recomendados {
    padding: 50px 120px;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    gap: 100px;
}

.todos-livros {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.livro {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.livro h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
    width: 211px;
    height: 50px;
}

.autor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.livro:nth-child(1) h2 {
    width: 200px;
    margin-top: 15px;
}

.livro span {
    font-weight: 700;
}

/* RESOLUÇÃO DA PROFESSSORA */

/* ACERVO */

.acervo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    padding: 50px 120px;
}

.livros {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 5%;
}

.livro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
}

.livro img {
    height: 300px;
}

.livro h3 {
    text-transform: uppercase;
    font-size: 1em;
    width: 65%;
}

h4, .livro p {
    font-size: 0.8em; 
}


/* FOOTER  obs: eu q fiz esse n foi a professora*/ 

.rodape {
    color: var(--branco); 
    background-color: var(--azul-escuro);
    padding: 60px 120px 30px 120px; 
    min-height: auto;
}

.conteudo-rodape {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}


.logos {
    display: flex;
    flex-direction: column;
    width: 176px;
    height: 45px;
    gap: 100px;
}

.informacoes {
    display: flex;
    flex-direction: column;
    gap: 75px;
}


.bloco-links {
    display: flex;
    gap: 150px;              
}
.coluna {
    display: flex;
    flex-direction: column; 
    gap: 12px;
}

.coluna h3 {
  color: var(--cor-destaque);
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 8px 0;
}

.coluna a {
  color: var(--branco);
  text-decoration: none;
  font-size: 14px;
}

.redes-sociais {
    display: flex;
    align-items: center;
    gap: 100px;
    color: var(--cor-destaque)
}

.redes-sociais h3 {
    color: var(--cor-destaque);
    font-size: 16px;
    font-weight: 600;
    margin: 0; /* Remove margens padrões do h3 para não desalinhar */
}

.redes {
    display: flex;
    gap: 30px;
}

.divisor {
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.2); /* Linha sutil como na imagem */
    margin: 30px 0 20px 0;
}

.final-rodape {
    display: flex;
    margin-top: 42px;
    justify-content: space-between;
}

.termos  {
    display: flex;
    gap: 50px;
    
}


