/*
CABECALHO
*/
a {
    color: var(--branco);
    text-decoration: none;
    /* Tira o sublinhado do link */
}

.cabecalho {
    background-color: var(--azul-escuro);
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 120px;

    height: 10vh;
    /* 10% da visualizaçaõ vertical do dispositivo */

}

.navegacao {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navegacao a {
    text-transform: uppercase;
    /* Transformou tudo em Maiusculo*/
    font-size: 1em;
    /* equivale a 16px; */
    /* nao usa o px pq o em eh responsivo*/
    /* EM = 16px */
    font-weight: 500;

}

/*? CONTEUDO PRINCIPAL */

/*Primeiro Banner*/

.banner-principal {
    color: var(--branco);

    height: 70vh;

    background-image: url(../imgs/banner-principal-home.png);
    background-size: cover;

    /*overflow: hidden; EVITA QUE OS ELEMENTOS TRANSBORDEM (OBS: NESSE CASO N PRECISOU)*/

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
}

.texto-banner {
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: flex-start;

    justify-content: center;

    gap: 50px;
}

.texto-banner p {
    font-size: 1.5em;
    width: 60%;
}

.botao {
    padding: 20px 50px;
    border-radius: 10px;

    background-color: var(--cor-destaque);
    color: var(--azul-escuro);

    font-size: 1.2em;
    font-weight: 700;

    text-transform: uppercase;
}

.botao:hover {
    background-color: #2ab2ab;
    color: var(--branco);
    cursor: pointer;
}

.banner-principal img {
    align-self: flex-end;
    width: 35%;
}

/* Titulo das seções */

.titulo-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-secao h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.titulo-secao span {
    display: flex;
    width: 250px;
    height: 4px;
    background-color: var(--cor-destaque);
}

/* seção benefecios */

.beneficios {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 90px 120px;
    gap: 100px;
}

.beneficios-lista {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    gap: 10%;

    justify-content: center;
}

.beneficio {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 80px 20px 50px;

    border: 1px solid var(--azul-escuro);
    border-radius: 30px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
    /* x, y, blur, cor com transparencia)*/


    text-align: center;

    /* cria referencia de posicionamento para o icone quando o icone for posicionado, usa esse card como referencia */
    /* sem isso, o circulo poderia usar outro elemento da pagina como referencia e sair passeando pelo layout. */
    position: relative;
}

.beneficio-icone img {
    width: 50%;
}

.beneficio-icone {
    border: 4px solid var(--cor-destaque);
    background-color: var(--branco);
    border-radius: 50%;

    width: 30%;
    height: 30%;

    /* Retira o icone do fluxo normal, com o absolute ele pode ficar por cima do card */
    /* eh tipo vc deixar ele acima do grupo q eh o card no figma */
    position: absolute;

    /* Move o circulo pra cima, o valor negativo faz com ele consiga sair parcialmente do card.*/
    top: -15%;

    /* coloca o começo do elemento em 50% da largura do card*/
    left: 50%;

    /*ajustamos o posicionamento do elemento, mas a borda esquerda do circulo fica no centro, não o circulo inteiro */
    /* por isso usamos o transform: translateX(-50%); que move o próprio circulo para a esquerda em 50% da largura dele, fazendo com que o circulo fique perfeitamente centralizado.*/
    transform: translateX(-50%);

    display: grid;

    /* place-items: center; é a mesma coisa que colocar:
        align-itens: center e justify-items: center */
    place-items: center;
}

.beneficio h3 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 90%;
}

.beneficio p {
    font-size: 1em;
    width: 80%;
}

.banner-meio {
    height: 60vh;

    background-image: url(../imgs/Banner\ centro.svg);
    background-size: cover;
    /* background-repeat: no-repeat; */

    display: flex;
    justify-content: flex-end;

    padding: 0 120px;
    color: var(--branco);
}

/* MINHA RESOLUÇÃO 

/* LIVROS RECOMENDADOS 

.livros-recomendados {
    padding: 50px 120px;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    gap: 100px;
}

.todos-livros {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.livro {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.livro h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
    width: 211px;
    height: 50px;
}

.autor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.livro:nth-child(1) h2 {
    width: 200px;
    margin-top: 15px;
}

.livro span {
    font-weight: 700;
}

/* RESOLUÇÃO DA PROFESSSORA */

/* ACERVO */

.acervo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    padding: 50px 120px;
}

.livros {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 5%;
}

.livro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
}

.livro img {
    height: 300px;
}

.livro h3 {
    text-transform: uppercase;
    font-size: 1em;
    width: 65%;
}

h4, .livro p {
    font-size: 0.8em; 
}


/* FOOTER  obs: eu q fiz esse n foi a professora*/ 

.rodape {
    color: var(--branco); 
    background-color: var(--azul-escuro);
    padding: 60px 120px 30px 120px; 
    min-height: auto;
}

.conteudo-rodape {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}


.logos {
    display: flex;
    flex-direction: column;
    width: 176px;
    height: 45px;
    gap: 100px;
}

.informacoes {
    display: flex;
    flex-direction: column;
    gap: 75px;
}


.bloco-links {
    display: flex;
    gap: 150px;              
}
.coluna {
    display: flex;
    flex-direction: column; 
    gap: 12px;
}

.coluna h3 {
  color: var(--cor-destaque);
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 8px 0;
}

.coluna a {
  color: var(--branco);
  text-decoration: none;
  font-size: 14px;
}

.redes-sociais {
    display: flex;
    align-items: center;
    gap: 100px;
    color: var(--cor-destaque)
}

.redes-sociais h3 {
    color: var(--cor-destaque);
    font-size: 16px;
    font-weight: 600;
    margin: 0; /* Remove margens padrões do h3 para não desalinhar */
}

.redes {
    display: flex;
    gap: 30px;
}

.divisor {
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.2); /* Linha sutil como na imagem */
    margin: 30px 0 20px 0;
}

.final-rodape {
    display: flex;
    margin-top: 42px;
    justify-content: space-between;
}

.termos  {
    display: flex;
    gap: 50px;
    
}

/* RESPONSIVIDADE */
.botao-menu {
    background: transparent;
    border: none;
    cursor: pointer;

    display: none; /* esconde o elemento */
}

.botao-menu i {
    font-size: 2em;

    color: var(--branco);
}

/* RESPONSIVIDADE COM TAMANHOS -> MEDIA QUERY */

@media (max-width: 1024px) {

    html {
        font-size: 12px;
    }

    .cabecalho img {
        width: 60%;
    }

    .texto-banner h1 {
        text-align: center;
    }

    /* BENEFICIOS */

    .beneficios {
        gap: 50px;

        padding: 30px 0;

        overflow: hidden;
    }

    .beneficios-lista {
        grid-template-columns: repeat(3, 30%);

        overflow-x: scroll; /* permite que o objeto role para o lado */

        padding: 50px 20px;

        justify-content: flex-start;
    }

    .beneficios-lista::-webkit-scrollbar {
        display: none;
    }

    .beneficio {
        padding: 80px 10px 50px;
    }

    .beneficio h3 {
        margin-bottom: 25px;
        width: 60%;
    }

    .beneficio p {
        width: 60%;
    }

    /* BANNER MEIO */

    .banner-meio {
        background-position: center;
        padding: 0 30px;
    }

    .banner-meio .texto-banner {
        align-items: flex-end;
    }

    .banner-meio .texto-banner p {
        text-align: right;
    }

    /* ACERVO */

    .acervo {
        padding: 70px 40px;
        gap: 50px;
    }

    .livros {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));


        gap: 40px 20px;
    }

    /* quebra a pagina quando tem flex */
    /* flex-wrap: wrap; */

    .livro img {
        max-width: 100%;
    }

    .livro h3 {
        font-size: 1.2em;
    }

    .livro-texto {
        font-size: 1em;
    }

}


@media (max-width: 768px) {

    .cabecalho {
        padding: 0 40px;

        position: relative;
    }

    .botao-menu {
        /* faz o menu hamburguer aparecer novamente */
        display: flex;
    }

    .navegacao {
        background-color: var(--azul-escuro);

        position: absolute;

        /* distancia de 10vh do topo */
        top: 10vh;

        /* encosta na esquerda */
        left: 0;

        width: 100%;
        height: auto;

        padding: 40px;

        border-radius: 0 0 0 30px;

        flex-direction: column;
        align-items: flex-end;

        gap: 20px;

        /* só funciona com position, quanto maior o z-index, mais pra cima o elemento fica */
        z-index: 100;

        display: none;
    }

    /* elemento com duas classes não tem espaço aqui no css */
    .navegacao.ativo {
        display: flex;
    }

    /* BANNER PRINCIPAL */
    .banner-principal {
        height: 50vh;

        padding: 30px 0 10px 0;

        position: relative;
    }

    .banner-principal .texto-banner {
        width: 100%;
        height: 100%;

        align-items: center;
        justify-content: space-between;
    }

    .banner-principal .texto-banner h1 {
        font-size: 2em;
    }

    .banner-principal .texto-banner p {
        display: none;
    }

    .banner-principal img {
        width: 50%;

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        z-index: 1;
    }

    .banner-principal .botao {
        padding: 20px 40px;

        font-size: 1.2em;

        z-index: 2;
    }

    /* BENEFICIOS */
    .beneficios-lista {
        grid-template-columns: repeat(3, 45%);
    }

    .beneficio-icone img {
        width: 40%;
    }

    /* BANNER MEIO */
    .banner-meio .texto-banner {
        display: none;
    }

    /* FOOTER */
    footer {
        padding: 50px 40px;
    }

    footer .main {
        flex-direction: column;
        gap: 100px;
    }

    .rodape-logos {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        gap: 30px;
    }

    .rodape-logos img {
        width: 40%;
    }

    .rodape-informacoes {
        gap: 30px;
    }

    .rodape-informacoes p {
        font-size: 1.5em;
    }

    .nav-footer a, .footer-inferior {
        font-size: 1.2em;
    }

    footer span {
        margin: 50px 0 30px;
    }

    .footer {
        flex-direction: column;
        text-align: right;
    }

}

@media (max-width: 500px) {

    .banner-principal img {
        width: 70%;
    }

    .beneficios-lista {
        grid-template-columns: repeat(3, 65%);
    }

    .beneficio-icone {
        width: 35%;
    }

    .banner-meio {
        background-position: 40%;
    }

    /* FOOTER */

    footer .main {
        gap: 50px;
    }

    .rodape-informacoes {
        display: flex;
        flex-direction: column;
    }

    .rodape-logos {
        align-items: flex-start;
        flex-direction: column;
    }

    .rodape-logos img {
        width: 100%;
    }

    .rodape-icones {
        display: flex;
        gap: 10px;
    }

    .rodape-icones img {
        width: 80%;
    }

    .footer-inferior {
        flex-direction: column;
        gap: 40px;
    }

    .footer {
        gap: 10px;
        text-align: left;
    }


}

