@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {  /* cria variavies */
    --azul-escuro: #26333D;
    --texto: #26333D;
    --branco: #fff;
    --cor-destaque: #2fd6cb;
    --fundos: #E9F0EF;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--branco);
    color:var(--texto);
}

/* Cabeçalho */

a {
    color: var(--branco);
    text-decoration: none;
    /* Tira o sublinhado do link */
}

.cabecalho {
    background-color: var(--azul-escuro);
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 120px;

    height: 10vh;
    /* 10% da visualizaçaõ vertical do dispositivo */

}

.navegacao {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navegacao a {
    text-transform: uppercase;
    /* Transformou tudo em Maiusculo*/
    font-size: 1em;
    /* equivale a 16px; */
    /* nao usa o px pq o em eh responsivo*/
    /* EM = 16px */
    font-weight: 500;

}